.numbers{
    background-color: #ab3550;
    padding: 25px 0px;
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
}
.numbers .row{
    margin: 10px 0px;
}
.numbers h2{
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0px;
    color: #fff;
    font-family: 'Tajawal';
}
.numbers h6{
    text-transform: uppercase;
    color: #fff;
    font-family: 'Tajawal';
    font-weight: bold;
    letter-spacing: 1px;
}
/* css to the pride section and ingredients */
.pride, .ingredients {
    background-color: transparent;
    padding: 25px 0px;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 60px;
}
.pride img, .ingredients img{
    max-width: 100%;
    border-radius: 10px;
}
.pride h2, .ingredients h2{
    font-size: 35px;
    font-weight: bold;
    width: 80%;
    margin: 10px 0px;
    color: #77132b;
    font-family: 'Tajawal';
    line-height: 50px;
}
.pride p, .ingredients p{
    font-size: 17px;
    line-height: 28px;
    color: #333;
    font-family: 'Tajawal', sans-serif;
    margin-top: 15px;
}
.pride button, .ingredients button{
    background-color: #ab3550;
    border: 1px solid #ab3550;
    width: 140px;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    transition: .2s ease;
}
.pride button a, .ingredients button a{
    display: block;
    color: #fff;
    font-family: 'Tajawal';
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: bold;
}
.pride button:hover a,
.ingredients button:hover a{
    color: #77132b;
}
.pride button:hover, 
.ingredients button:hover{
    background-color: #fff;
}
/* start css to the ingredients sectoion*/
.ingredients ul{
    padding: 0px;
}
.ingredients ul li{
    list-style-type: square;
    font-family: 'Tajawal';
    color: #333;
    margin-top: 10px;
}
/* css to the paralex swction*/
.paralex{
    background: url('../../assets/00.5.jpg') center ;
    background-size: cover;
    width: 100%;
    height: 700px;
    padding: 30px 0px ;
    text-align: center;

}
.paralex h2, .blogs h2{
    width: 100%;
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0px;
    color: #77132b;
    font-family: 'Tajawal';
    line-height: 50px;
}
.paralex p, .blogs p{
    font-size: 17px;
    line-height: 28px;
    color: #333;
    font-family: 'Tajawal', sans-serif;
    margin-top: 15px;
}
.paralex a{
    color: #77132b;
    font-size: 20px;
    margin: 20px 0px ;
    font-family: 'Tajawal';
    text-decoration: none !important;
}
/*start css to the blogs section */
.blogs{
    margin-top: 50px;
    padding: 25px 0px;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.blogs .row:first-child{
    text-align: center;
    margin: 25px 0px;
}
.blogs .box{
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border: 1px solid #f6f6f6;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 5px;
}
.blogs .box img{
    max-width: 100%;
}
.blogs .box h5{
    color: #77132b;
    font-family: 'Tajawal';
    font-size: 22px;
    margin: 15x 0px;
}
.blogs .box span{
    display: block;
    color: #444;
    font-family: 'Tajawal';
    font-size: 16px;
    margin: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.blogs .box h6{
    color: #77132b;
    font-size: 22px;
    font-family: 'Tajawal';
}
.blogs button{
    background-color: #77132b;
    border: 1px solid #77132b;
    width: 140px;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    transition: .2s ease;
    border-radius: 35px;
}
.blogs button a{
    display: block;
    color: #fff;
    font-family: 'Tajawal';
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: bold;
}
.blogs button:hover{
    background-color: #fff;
}
.blogs button:hover a{
    color: #77132b;
}
/* start css to the slider section */
.slider{
    background-color: #ab3550;
    border: 1px solid #ab3550;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 50px 0px;
    margin: 50px 0px;
}
.slider .row{
    color: #fff;
}
.slider .carousel{
    background-color: #fff;
    margin: 40px 0px;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 25px 0px;
}
.slider img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 150px;
}
.slider .carousel-caption p{
    color: #212121;
    font-size: 17px;
    line-height: 30px;
}
.slider .carousel-caption h5{
    color: #77132b;
    display: block;
    margin: 15px 0px;
    text-transform: uppercase;
    font-size: 17px;

}
